.row {
    display: flex;
    justify-content: space-between;
}

.col,
.col-2,
.col-3 {
    background-color: rgb(118, 163, 171);
    padding: 20px;
    margin: 10px;
}

.col {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}